h1 {
    color: #777777;
}

.wmd-panel {
    margin-left: 0% !important;
    margin-right: 0% !important;
}

.comment-reply {
    display: none;
}

.comment-reply-btn {
    color: blue;
}

.custom-text-xs {
  font-size: calc(10% + 1vw + 1vh);
}