{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h1>{{ title }}</h1>
<a href="{% url 'shop:group_create' %}" class="top-menu">Add Group</a><br>
<p class="font-italic">{% if notice %}{{ notice }}{% endif %}</p>
{% if member_list or managed_list %}
 <form method="POST" action="." >
     {% csrf_token %}
    {{ form|crispy }}
     Groups you are a Member of
    {% for obj in member_list %}

        <div class="row p-1 mb-2 bg-light text-dark">
            <div class="col-md-8 col-xs-8">
                {{ obj.name }} ({{ obj.id }})</div>
            <div class="col-md-4 col-xs-4">
                {# still need to change to url etc to process removing this user from the group#}
            <small><a onclick="return confirm_action('Are you sure you want to be removed from the group?')"
                      href="{% url 'shop:group_remove_member' pk=obj.pk %}"><i class="far fa-sign-out-alt"></i></a>
               <!-- <a href="{% url 'shop:group_delete' pk=obj.pk %}"><i class="far fa-trash-alt"></i></a> -->
                From {{ obj.date_added | date:"d M"}} </small></div>
        </div>

    {% endfor %}
     {% if managed_list %}Groups you are a Manager for {% endif %}
     {% for obj in managed_list %}

        <div class="row p-1 mb-2 bg-light text-dark">
            <div class="col-md-8 col-xs-8">
                {{ obj.name }} ({{ obj.id }})</div>
            <div class="col-md-4 col-xs-4">
            <small><a href="{% url 'shop:group_maintenance' pk=obj.pk %}"><i class="far fa-edit"></i></a>
                <a href="{% url 'shop:group_delete' pk=obj.pk %}"><i class="far fa-trash-alt"></i></a>
                From {{ obj.date_added | date:"d M"}} </small></div>
        </div>

    {% endfor %}
</form>

{% else %}
    <p>No list yet!</p>
{% endif %}

    <!--
    <div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ contacts.previous_page_number }}{% if request.Get.g %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.Get.g %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
    </div>
-->
<script type="text/javascript">

function confirm_action(in_message) {
  var res = confirm(in_message);
    if (res) {
        return true;
    } else {
        return false;
    }
}
</script>
{% endblock content %}
