{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Hello!</h1>
    <p class="lead">Manage your family, group or any other list right here</p>
    <hr class="my-4">
    <p>You can use it for shopping lists, Christmas wish lists or just simple todo lists</p>
    <p>No more leaving the piece of paper behind, forgetting it in the car or having no idea what you are supposed to get or do!</p>
    <p></p>
    <p class="lead">
        {% if user.is_authenticated %}
            <a class="btn btn-primary btn-lg" href="{% url 'shop:shop_list' %}" role="button">Go to your list</a>
        {% else %}
            <a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Register</a>
            <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
        {% endif %}
    </p>
</div>


{% endblock content%}





