{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h1>{{ title }}</h1>

<p class="font-italic">{% if notice %}{{ notice }}{% endif %}</p>
<form method="POST" action="." >{% csrf_token %}
    {{ form|crispy }}
    Active list = {{ active_list }}
    {% if user_lists > 1 %}
        <a href="{% url 'shop:group_select' %}" class="top-menu"><i class="far fa-random" title="Switch to other list"></i></a>
    {% endif %}<br>
    <!--{% if group_list %}
    <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User's Lists
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for group in group_list%}
            <a class="dropdown-item">{{group.name}}</a>
            {% endfor %}
          </div>
    </div>
{% endif %}-->
<a href="{% url 'shop:shop_create' %}" class="top-menu">Add item</a><br>
{% if object_list%}

{% for obj in object_list %}


    <div class="row p-1 mb-2 bg-light text-dark">
        <div class="col-md-8 col-xs-8">{{ obj.id }}. {{ obj.description }}{%if obj.to_get_from != None %}
            <span class="text-info font-weight-light"> @ {{ obj.to_get_from }}
            {% if obj.in_group != None %}{% endif %}
            </span> {% endif %}
        </div>
        <div class="col-md-4 col-xs-4">
            {% if request.user.is_staff or is_leader %}
<!--                    <input type="submit" name="got_item|{{ obj.id }}" value="Purchased" class="btn btn-success btn-sm">-->
<!--                    <input type="submit" name="cancel_item|{{ obj.id }}" value="Cancel" class="btn btn-outline-danger btn-sm">-->
                <button type="submit" name="got_item|{{ obj.id }}" class="btn btn-success btn-sm">
                    <i class="far fa-check-circle"></i>
                </button>
                <button type="submit" name="cancel_item|{{ obj.id }}" class="btn btn-outline-danger btn-sm">
                    <i class="far fa-trash-alt glyph"></i>
                </button>
                <a href="{% url 'shop:shop_edit' pk=obj.pk %}"><i class="far fa-edit"></i></a>
            {% endif %}
            <!--<small>{{ obj.date_requested | date:"d M"}} ({{ obj.requested.username }})</small>-->
            <span style="font-size:1.2vw;">{{ obj.date_requested | date:"d M"}} ({{ obj.requested.username }})</span>
        </div>
    </div>

{% endfor %}

{% else %}
    <p>No list yet!</p>
{% endif %}
</form>
    <!--
    <div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ contacts.previous_page_number }}{% if request.Get.g %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.Get.g %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
    </div>
-->

{% endblock content %}